@import "tailwindcss";

/* Tu fuente local */
@font-face {
  font-family: 'Nouveau IBM';
  src: url('/Nouveau_IBM.ttf') format('truetype');
}

@font-face {
  font-family: 'Starlight';
  src: url('/Starlight.ttf') format('truetype');
}

/* Variables para Tailwind v4 */
@theme {
  --font-ibm: 'Nouveau IBM', monospace;
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-dots: 'Starlight', monospace;
}